/*  -------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: '微軟正黑體', 'Microsoft JhengHei', Arial, Helvetica, sans-serif; */
    /* -ms-overflow-style: none; */
    /* height: 100%; */
    /* width: calc(100vw + 18px); */
    /* overflow: auto; */
}

body::-webkit-scrollbar {
    display: none;
}

:before, :after {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

header, footer, div, nav, article, h2, h3, h4, h5, h6, hr, p, form, label, input, textarea, ul, li, img, span, font, strong, b, a, i {
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    line-height: 170%;
    border-width: 0;
    font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

p{
    margin: 0 !important;
}

/* 通用 -------------------------------------------------------- */

/* 遊戲背景 */

.bgc-flex {
    position: relative;
    background: no-repeat;
    display: flex;
    background-size: cover;
}

.bgc-flex-v {
    position: relative;
    background: no-repeat fixed center;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
}

.bgc-flex-SA {background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

/* 遊戲背景 */

.game-flex {
    position: relative;
    background: no-repeat;
    background-size: 100% 100%;
}

.game-v-flex {
    position: relative;
    background: no-repeat;
    background-size: 100% auto;
}

/*  */
.centerCenter {
    text-align: center !important;
    justify-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.lp05 {
    letter-spacing: .05em;
}
.lp1 {
    letter-spacing: .1em;
}

.lp2 {
    letter-spacing: .2em;
}

.textPink {
    color: #fb98ac;
}

.textPurple {
    color: #9383f3;
}

.textOrange {
    color: #ffbe67;
}

.textOrange {
    color: #ffbe67;
}

.textCoffee {
    color: #bc985e;
}

.textCoffee2 {
    color: #bcad93;
}

.textWhite {
    color: #efeee0;
}

.bgWhite {
    background: #efeee0;
}

.bgCoffee {
    background: #bc985e;
}

.bgCoffee2 {
    background: #bcad93;
}
/* body -------------------------------------------------------- */

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    content: "/";
}

.text-theme {
    color: #bc985e;
}

.bg-theme {
    background-color: #bc985e;
}

.bd-theme {
    border-color: #bc985e !important;
}

.Blog-name-active:hover {
    background-color: #fd788e !important;
    color: #fff !important;
}

.Blog-name-active-a {
    background-color: #fd788e !important;
    color: #fff !important;
}

.fsz-08 {
    font-size: 0.8em !important;
}

.fsz-06 {
    font-size: 0.6em !important;
}

/* MD breadcrumb -------------------------------------------------------- */

.breadcrumb {
    background-color: transparent;
}

/* Blog -------------------------------------------------------- */

.BlogGameBg {
    background: linear-gradient(180deg, #fff4e5 0%, #ffe9cc 100%);
    color: #ffffff;
}

.BlogGameTColor {
    color: #fd788e;
}

.pt-2 a .BlogGameTColor:hover {
    color: red;
}

.rowEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 多行加下列 */
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.rowBlogEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 多行加下列 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.btn-blog-active:hover {
    background-color: #fd788e;
    border-radius: 5px;
    color: #fff !important;
}

/* index -------------------------------------------------------- */

.bgc-header-color {
    background-color: #BCAD93;
}

.bgc-body-color {
    background-color: #ebdef2;
}

.gradientBtnA {
    background: linear-gradient(180deg, #eecda3 0%, #ef629f 100%);
}

.border-bottom-title{
    border-bottom: 2px solid #bc985e;
}

.rowEllipsis2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.rowEllipsis3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.rowEllipsis5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@media screen and (min-width: 900px) {
    .cardW {
        width: 18% !important;
    }
    .cardW2 {
        width: 36% !important;
    }

    .left-set{
        left: 7.5% !important;     
    }
    .left-set2{
        left: 18% !important;     
    }
}

.cardW {
    width: 12%;
}
.cardW2 {
    width: 24%;
}
.left-set{
   left: 12%;     
}
.left-set2{
   left: 22.5%;     
}